api_hash: your_api_hash_here
api_id: your_api_id_here
chat:
- chat_id: me
  last_read_message_id: 0
- chat_id: your_chat_id_here
  last_read_message_id: 0
file_formats:
  audio:
  - all
  document:
  - all
  video:
  - all
file_path_prefix:
- chat_title
file_name_prefix:
- message_id
- caption
media_types:
- audio
- photo
- video
- document
- voice
- video_note
# in linux please use /
save_path: /path/to/your/download/folder
language: EN
web_host: 127.0.0.1
web_port: 5000
web_login_secret: your_secret_here 